html {
  background-color: black;
}
.homePage {
  display: flex;
}

.timeline_item {
  background-color: black;
  color: white;
  flex: 0.8;
}
.navigation_item {
  background-color: black;
  color: white;
  flex: 0.2;
}
