.download-icon {
  width: 90%;
  height: 60px;
}
.login-container {
  max-height: 100vh;
  min-height: 100vh;
  background-color: white;
}
.login-row {
  max-height: 100vh;
  min-height: 100vh;
}
#insta_name_icon {
  width: 250px;
}
