.post {
  margin: 30px 40px;
  width: 75%;
}

.post_title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post_userImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

.post_userImg > span {
  color: grey;
  font-size: 15px;
}

.post_image > img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}

.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postIcon {
  margin-top: 8px;
  margin-right: 5px;
  /* padding: 3px; */
  font-size: 40px;
}

.postIcon :hover {
  cursor: pointer;
}
.liked {
  color: red;
}
.saved {
  color: rgb(131, 131, 234);
}
