.story-section {
  display: flex;
  align-items: center;
  gap: 25px;
  /* overflow-x: auto; */
  /* scrollbar-width: thin; */
  /* scrollbar-color: transparent transparent; */
  /* .container::-webkit-scrollbar {
    display: none;
  } */
  /* -ms-overflow-style: none; */
}
